In [1]:
from IPython.display import display
import json
import pandas as pd
pd.options.display.max_columns = None # Display all columns of a dataframe
pd.options.display.max_rows = 700
from pprint import pprint
import time
import os
from selenium import webdriver
import re
import requests
from bs4 import BeautifulSoup

In [2]:
import numpy as np
import pandas as pd
# import patsy

from sklearn.model_selection import GridSearchCV, KFold, train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, median_absolute_error, explained_variance_score
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [3]:
df18=pd.read_csv("DataRestaurants.csv")
df18.head()

,Name,Rating,Type,Address,Average budget,Maximum capacity
0,Le Chalet De La Forêt,4.25,Français,1180 Uccle,180,Not Available
1,La Buvette,4.3,Français,1060 Saint-Gilles,58,Not Available
2,Fanny Thai,4.25,Thaïlandais,1000 Bruxelles,24,Not Available
3,Brinz'L,4.166666667,Français,1180 Uccle,70,Not Available
4,Gou,4.166666667,Français,1150 Woluwe-Saint-Pierre,35,Not Available

In [4]:
df18.columns
na_counts = (df18 == 'Not Available').sum()
print(na_counts)

Name                  0
Rating                0
Type                  0
Address               0
Average budget       75
Maximum capacity    483
dtype: int64

In [5]:
del df18['Maximum capacity']
df18.head()

,Name,Rating,Type,Address,Average budget
0,Le Chalet De La Forêt,4.25,Français,1180 Uccle,180
1,La Buvette,4.3,Français,1060 Saint-Gilles,58
2,Fanny Thai,4.25,Thaïlandais,1000 Bruxelles,24
3,Brinz'L,4.166666667,Français,1180 Uccle,70
4,Gou,4.166666667,Français,1150 Woluwe-Saint-Pierre,35

In [6]:
df18 = df18.drop(df18[df18.eq('Not available').any(axis=1)].index)
df18 = df18.reset_index(drop=True)

In [7]:
df18 = df18.drop(df18[df18.eq('Not Available').any(axis=1)].index)
df18 = df18.reset_index(drop=True)

In [8]:
df18.shape

(395, 5)

In [9]:
df18['Average budget'] = pd.to_numeric(df18['Average budget'], errors='coerce')
df18['Rating'] = pd.to_numeric(df18['Rating'], errors='coerce')
print(df18.dtypes)

Name               object
Rating            float64
Type               object
Address            object
Average budget    float64
dtype: object

In [10]:
df18 = df18.dropna()

In [11]:
X = df18.loc[:, ['Type', 'Address', 'Average budget']]
y=df18['Rating']

In [12]:
categorical_features = ['Type', 'Address']

In [13]:
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(), categorical_features)],
    remainder='passthrough'
)
X_encoded = preprocessor.fit_transform(X)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [15]:
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

In [16]:
y_pred = model.predict(X_test)

In [17]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
explained_var = explained_variance_score(y_test, y_pred)
print("Mean Squared Error (MSE): ", mse)
print("Mean Absolute Error (MAE): ", mae)
print("R-squared (R2): ", r2)
print("Explained Variance Score:", explained_var)

Mean Squared Error (MSE):  0.4260537086641983
Mean Absolute Error (MAE):  0.40073086196503915
R-squared (R2):  -0.3582416514641251
Explained Variance Score: -0.3549649333872922